<div class="row">
    <div class="col s12 m6">
        <div class="card">
        <div class="card-image">
            <img src="/images/schafer-dog-4312716_1920.jpg">
            <span class="card-title card-panel cyan lighten-1">{{name}}</span>
            <a class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="far fa-comment-alt"></i></a>
        </div>
        <div class="card-content">
            
            <p>Breed: {{breed}}</p>
            <p>Sex: {{sex}}</p>
            <p>Age: {{age}}</p>
            <p>Temperament: {{temperament}}</p>
            <p>About Me: {{about_me}}</p>
            <p>About You: {{about_you}}</p>
        </div>
        </div>
    </div>
</div>